<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro Proceso</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Selección de Insumos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Seleccionamos insumos orgánicos de alta calidad para convertirlo en sustrato</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Inoculación de Micelio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Inoculamos el micelio cultivado en laboratorio en nuestro sustrato</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Incubación</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dejamos al micelio colonizar el sustrato en las condiciones adecuadas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fructificación</h4>
                                    <!-- <h4 class="subheading">Phase Two Expansion</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A través de un cambio del clima, indicamos al micelio que es momento de fructificar para cosechar el hongos que conocemos.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Es momento de
                                    <br>Disfrutar!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
